In [65]:
import numpy as np
import pandas as pd
import os

In [66]:
import matplotlib.pyplot as plt

In [67]:
os.chdir('C:\\Users\\a\\randomwalk-ds-assessment-level3')

In [68]:
file_path1='books.csv'

In [69]:
file_path2='book_tags.csv'

In [70]:
file_path3='ratings.csv'

In [71]:
books = pd.read_csv(file_path1)

In [72]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...,0
1,40,19501,19501,3352398,185,143038419,9.780143e+12,Elizabeth Gilbert,2006.0,"Eat, pray, love: one woman's search for everyt...",...,1206597,49714,100373,149549,310212,332191,314272,https://images.gr-assets.com/books/1503066414m...,https://images.gr-assets.com/books/1503066414s...,0
2,81,7445,7445,2944133,92,074324754X,9.780743e+12,Jeannette Walls,2005.0,The Glass Castle,...,637866,40777,7901,18922,85191,227750,298102,https://images.gr-assets.com/books/1400930557m...,https://images.gr-assets.com/books/1400930557s...,0
3,82,1845,1845,3284484,108,385486804,9.780385e+12,Jon Krakauer,1996.0,Into the Wild,...,665377,17299,19229,35567,135199,248287,227095,https://images.gr-assets.com/books/1403173986m...,https://images.gr-assets.com/books/1403173986s...,0
4,87,1617,1617,265616,109,374500010,9.780375e+12,"Elie Wiesel, Marion Wiesel",1958.0,Un di Velt Hot Geshvign,...,707879,22001,7761,18539,90575,230227,360777,https://images.gr-assets.com/books/1473495285m...,https://images.gr-assets.com/books/1473495285s...,0

In [73]:
book_tags = pd.read_csv(file_path2)

In [74]:
book_tags.head()

   goodreads_book_id  tag_id  count
0                386   30574    565
1                386   19733    280
2                386   21689    182
3                386   21773     99
4                386   19742     78

In [75]:
ratings = pd.read_csv(file_path3)

In [76]:
ratings.head()

   user_id  book_id  rating
0        8     2584       5
1        4       87       5
2        4      495       4
3        9      344       4
4        9      372       4

In [77]:
#1.How many books do not have an original title [books.csv]?

In [78]:
no_original_title = (books["original_title"].isnull()).sum()
print(f"The number of books without an original title is: {no_original_title}")

The number of books without an original title is: 36

In [79]:
#2.How many unique books are present in the dataset ? Evaluate based on the 'book_id' after removing records containing null values for original_title column in [books.csv] and corresponding records in [book_tags.csv] and [ratings.csv]

In [80]:

books = books.dropna(subset=['original_title'])


valid_book_ids = books['book_id'].unique()
book_tags = book_tags[book_tags['goodreads_book_id'].isin(valid_book_ids)]
ratings = ratings[ratings['book_id'].isin(valid_book_ids)]

unique_books = len(books['book_id'].unique())


print(f"There are {unique_books} unique books present in the dataset.")

There are 363 unique books present in the dataset.

In [81]:

#3.How many unique users are present in the dataset [ratings.csv] ?

In [82]:
unique_values = ratings['user_id'].nunique()

print(unique_values)

40573

In [83]:
#4.How many unique tags are there in the dataset [book_tags.csv] ?

In [84]:
unique_values = book_tags['tag_id'].nunique()

print(unique_values)

100

In [85]:
#5.Which tag_id is the most frequently used ie. mapped with the highest number of books [book_tags.csv] ? (In case of more than one tag, mention the tag id with the least numerical value)â€™.

In [86]:
most_frequent_tag = book_tags['tag_id'].value_counts().idxmax()
tag_with_least_value = book_tags['tag_id'].value_counts()[book_tags['tag_id'].value_counts() == book_tags['tag_id'].value_counts().max()].index.min()


print(f"The tag_id that is most frequently used is: {most_frequent_tag if most_frequent_tag == tag_with_least_value else tag_with_least_value}")

The tag_id that is most frequently used is: 199

In [87]:
#6.Which book (title) has the most number of counts of tags given by the user [book_tags.csv,books.csv] .

In [88]:
merged_data = pd.merge(book_tags, books[['book_id', 'title']], left_on='goodreads_book_id', right_on='book_id')
book_tag_counts = merged_data['title'].value_counts()

book_with_most_tags = book_tag_counts.idxmax()


print(f"The book with the most number of tag counts given by the user is: {book_with_most_tags}")

The book with the most number of tag counts given by the user is: Beyond Band of Brothers: The War Memoirs of Major Dick Winters

In [89]:
#7.Plot a bar chart with top 20 unique tags in descending order of â€˜user recordsâ€™ (the number of users tagged the given tag_id with the goodreads_book_id) [book_tags.csv]